
@{
    ViewData["Title"] = "Confirm1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/style.css">
<link rel="stylesheet" href="~/css/bootstrap.min.css">
<link rel="stylesheet" href="~/css/magnific-popup.css">
<link rel="stylesheet" href="~/css/jquery-ui.css">
<link rel="stylesheet" href="~/css/owl.carousel.min.css">
<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0"><a href="/Home/Index">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Contact</strong></div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <span class="icon-check_circle display-3 text-success"></span>
                <h2 class="display-3 text-black">Thank you!</h2>
                <p class="lead mb-5">Your feedback is sended</p>
                <p><a asp-controller="Home" asp-action="Index" class="btn btn-sm btn-primary">Back to shop</a></p>
            </div>
        </div>
    </div>
</div>
