@model ShopQuanAo.Models.Order
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

    <div id="layoutSidenav_content">
        <main>
            <h3>Bạn có chắc muốn xóa đơn hàng này?</h3>
            <div>
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.OrderId)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.OrderId)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CustomerName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CustomerName)
                    </dd>
                </dl>
                <form asp-action="Delete">
                    <input type="hidden" asp-for="OrderId" />
                    <input type="submit" value="Xóa" class="btn btn-danger" onclick=" return confirm('Xóa đơn hàng này?');" /> |
                    <a class="btn btn-outline-warning" asp-action="Index">Quay về</a>
                </form>
            </div>
            </main>
        </div>
