@model ShopQuanAo.Models.Discount

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}
    <head>
        <title>ProShop &mdash; Colorlib e-Commerce Template</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
        <link rel="stylesheet" href="~/fonts/icomoon/style.css">

        <link rel="stylesheet" href="~/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/css/magnific-popup.css">
        <link rel="stylesheet" href="~/css/jquery-ui.css">
        <link rel="stylesheet" href="~/css/owl.carousel.min.css">

        <link rel="stylesheet" href="~/css/owl.theme.default.min.css">

        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

        <link rel="stylesheet" href="~/css/aos.css">

        <link rel="stylesheet" href="~/css/style.css">
        <link rel="stylesheet" href="~/css/StyleSheet.css">

    </head>
    <div id="layoutSidenav_content">
        <main>
            <h1 style="margin-top:60px; color:black">Tạo mã giảm giá</h1>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label style="color:black" class="control-label">Nhập giá giảm:</label>
                            <input asp-for="Amount" class="form-control" />
                            <span asp-validation-for="Amount" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label style="color:black" class="control-label">Hiệu lực đến:</label>
                            <input asp-for="DateExpired" class="form-control" />
                            <span asp-validation-for="DateExpired" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Tạo mới" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a class="btn btn-outline-warning" asp-action="Index">Quay về</a>
            </div>
            </main>
        </div>

