@model ShopQuanAo.Models.UserLoginModel
@*@{
        ViewData["Title"] = "Login";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h1>Login</h1>

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Login" asp-routereturnUrl="@ViewData["ReturnUrl"]">
                <div asp-validation-summary="ModelOnly" class="textdanger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="controllabel"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="textdanger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="controllabel"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="textdanger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
                    </label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Log In" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>*@


@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="~/css/style.css">
<link rel="stylesheet" href="~/css/bootstrap.min.css">
<link rel="stylesheet" href="~/css/magnific-popup.css">
<link rel="stylesheet" href="~/css/jquery-ui.css">
<link rel="stylesheet" href="~/css/owl.carousel.min.css">
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <!--Made with love by Mutiullah Samim -->
    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!--Custom styles-->
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/jquery-ui.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
</head>

<body>
    <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0"><a href="/Home/Index">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text">Login</strong></div>
            </div>
        </div>
    </div>
    <div style="margin-top: 40px; margin-bottom: 40px" class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Login</h3>
                    @*<div class="d-flex justify-content-end social_icon">
                            <span><i class="fab fa-facebook-square"></i></span>
                            <span><i class="fab fa-google-plus-square"></i></span>
                            <span><i class="fab fa-twitter-square"></i></span>
                        </div>*@
                </div>
                <div  class="card-body">
                    <form asp-action="Login" asp-route-return-Url="@ViewData["ReturnUrl"]">
                        <div class="form-group">
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input asp-for="UserName" class="form-control" placeholder="UserName"><br />
                            </div>

                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <input asp-for="Password" class="form-control" placeholder="Password">
                            </div>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group form-check">
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Log In" class="btn float-right login_btn">
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        Don't have an account?<a asp-controller="Account" asp-action="Register">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>